.*
!.gitignore
**/*.html
**/*.log
**/*.csv
**/*.xls*
**/*.RData
data-raw/
output/*
keys.json
dbmongo/data-raw
dbmongo/dbmongo
.vscode/*
dbmongo/static/*
archive/*
Rdir/RData/*
Rdir/exploration/*
Rdir/pipes/my_log_dir/*
Rdir/pipes/RNNs/*
dbmongo/config.toml*
dbmongo/debug
dbmongo/dbmongo
dbmongo/fakeData/config.toml
.Rproj.user

