.*
!.gitignore
**/*.html
**/*.log
**/*.csv
**/*.xls*
**/*.RData
data-raw/
output/*
keys.json
dbmongo/data-raw
dbmongo/dbmongo
.vscode/*
dbmongo/static/*
archive/*
Rdir/RData/*
Rdir/exploration/*
dbmongo/config.toml
dbmongo/debug
.Rproj.user
