.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.profile
data-raw/
*.nb.html
keys.json
data/
packrat/lib*/
packrat/src/*
inst/fiches/*
inst/*.html
output/*
dbmongo/data-raw
dbmongo/dbmongo
.vscode/*
dbmongo/static/*
archive/*
RData/*
exploration/*
RData/*
dbmongo/config.toml
